<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1">
    <div class="container">
     <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/soa']">SOA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/waitlist']">Waitlist </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/cardiohelp']">CardioHelp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/ovi']">OVI </a>
          </li>
          <li class="nav-item" *ngIf="!loggedIn()">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn()">
            <a class="nav-link text-dark" (click)="logOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>