<div class="card">
  <div class="card-header">Get the details from SQL to MariaDB</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-6"><h4><span class="badge badge-default">Aortic Surgery</span></h4></div>
          <div class="col-sm-6">
            <button class="btn btn-secondary ml-5" (click)="aortic_surgery()">Go</button></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4><span class="badge badge-default">CABG</span></h4></div>
          <div class="col-sm-6">
            <button class="btn btn-secondary ml-5" (click)="cabg()">Go</button></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4><span class="badge badge-default">CPB</span></h4></div>
          <div class="col-sm-6">
            <button class="btn btn-secondary ml-5" (click)="cpb()">Go</button></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4><span class="badge badge-default">Aortic Surgery</span></h4></div>
          <div class="col-sm-6">
            <button class="btn btn-secondary ml-5" (click)="aortic_surgery()">Go</button></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4><span class="badge badge-default">Aortic Surgery</span></h4></div>
          <div class="col-sm-6">
            <button class="btn btn-secondary ml-5" (click)="aortic_surgery()">Go</button></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4><span class="badge badge-default">Aortic Surgery</span></h4></div>
          <div class="col-sm-6">
            <button class="btn btn-secondary ml-5" (click)="aortic_surgery()">Go</button></div>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>